

@model ENDPOINT.WEBUI.Models.Product.ProductsListViewModel
@{ ViewData["Title"] = "Index"; }

<!-- breadcrumb part start-->
<section class="breadcrumb_part" style="height:auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>لیست محصولات</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!-- product list part start-->




@if (Model.CategoryChild != null)
{
    <ul class="cardCategori-list">

        @foreach (var item in Model.CategoryChild)
        {

            <li class="cardCategori">

                <a class="cardCategori-description" asp-action="showByCategori" id="navbarDropdown_2" asp-controller="Product" asp-route-Input="@item.CategoryName"
                   asp-route-pn="1"> @item.CategoryName</a>

            </li>

        }

    </ul>
}



<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_list">
                    <div class="row" style="vertical-align: middle;align-items:center">


                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-sm-4">
                                <div class="cardGRN card-1GRN single_product_item">

                                    <a asp-action="showSingle" asp-controller="Product" asp-route-ProductID="@item.id">
                                        <img src=@item.MainImage alt="#" class="img-fluid">
                                    </a>
                                    <h3 style="text-align:center"> <a asp-action="showSingle" asp-controller="Product"
                                            asp-route-ProductID="@item.id" >@item.Name</a> </h3>

                                </div>
                            </div>
                        }

                         




                        </div>
                    <div class="load_more_btn text-center" style="align-items:center">
                        @for (int gopagei = 1; gopagei <= Model.PagingInfo.TotalPages; gopagei++)
                        {

                            var classname = gopagei == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary";
                            <a asp-action="@Model.fromContoller" asp-controller="Product" asp-route-pn="@gopagei" asp-route-Input="@Model.Current" class="btn @classname"> @gopagei </a>
                        }
                    </div>


                    @*<nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    @for (int gopagei = 1; gopagei <= Model.PagingInfo.TotalPages; gopagei++)
                                    {

                                        var classname = gopagei == Model.PagingInfo.CurrentPage ? "btn-primary" : "page-link";
                                        <a asp-action="@Model.fromContoller" asp-controller="Product" asp-route-pn="@gopagei" asp-route-Input="@Model.Current" class="btn @classname"> @gopagei </a>
                                    }
                                </li>
                            </ul>
                        </nav>*@







                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list part end-->




<style>

    /* Lazy Load Styles */
    .cardCategori-image {
        display: block;
        min-height: 20rem; /* layout hack */
        background: #fff center center no-repeat;
        background-size: cover;
        filter: blur(3px); /* blur the lowres image */
    }

        .cardCategori-image > img {
            display: block;
            width: 100%;
            opacity: 0; /* visually hide the img element */
        }

        .cardCategori-image.is-loaded {
            filter: none; /* remove the blur on fullres image */
            transition: filter 1s;
        }




    /* Layout Styles */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: sans-serif;
    }

    .cardCategori-list {
        display: block;
        margin: 1rem auto;
        padding: 0;
        font-size: 0;
        text-align: center;
        list-style: none;
    }

    .cardCategori {
        display: inline-block;
        width: 90%;
        /*background-color:rebeccapurple;*/
        max-width: 20rem;
        margin: 1rem;
        font-size: 1rem;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    }

        .cardCategori:hover {
            transform: translateY(-0.5rem) scale(1.0125);
            box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
        }

    .cardCategori-description {
        display: block;
        padding: 1em 0.5em;
        color: #515151;
        text-decoration: none;
    }

        .cardCategori-description > h2 {
            margin: 0 0 0.5em;
        }

        .cardCategori-description > p {
            margin: 0;
        }




    /*////////////*/ /*////////////*/
    .cardGRN {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        /*width:33%;*/
        margin: 1rem;
        position: relative;
        
    }
    .card-1GRN:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


    .wrapper {
        width: 100%;
        margin: 50px auto;
        padding: 20px;
        background-color: #f4f4f4;
    }

        .wrapper .card {
            background-color: #fff;
        }

            .wrapper .card img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: 0 center;
            }

            .wrapper .card h3 {
                padding: 10px 0;
                font-size: 1.8em;
                font-weight: 600;
            }

            .wrapper .card p {
                color: #555;
            }
</style>





@section scripts
{

    <script language="javascript">

        // This is "probably" IE9 compatible but will need some fallbacks for IE8
        // - (event listeners, forEach loop)

        // wait for the entire page to finish loading
        window.addEventListener('load', function () {

            // setTimeout to simulate the delay from a real page load
            setTimeout(lazyLoad, 1000);

        });

        function lazyLoad() {
            var card_images = document.querySelectorAll('.cardCategori-image');

            // loop over each cardCategori image
            card_images.forEach(function (card_image) {
                var image_url = card_image.getAttribute('data-image-full');
                var content_image = card_image.querySelector('img');

                // change the src of the content image to load the new high res photo
                content_image.src = image_url;

                // listen for load event when the new photo is finished loading
                content_image.addEventListener('load', function () {
                    // swap out the visible background image with the new fully downloaded photo
                    card_image.style.backgroundImage = 'url(' + image_url + ')';
                    // add a class to remove the blur filter to smoothly transition the image change
                    card_image.className = card_image.className + ' is-loaded';
                });

            });

        }



    </script>
}


 
